<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- border:定义边框大小 -->
    <table border = '1'bgcolor='green'> 
        <!-- tr定义行，th定义列 -->
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        <tr>
            <th>老王</th>
        </tr>
    </table>
    <a href="/TestUrl/test2/">哦啦哦啦哦啦</a><br>
    <a href="{%url 'TestUrl:test2'%}">我是反向解析</a>
</body>
</html>